.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-jLHcCATMR-VR);
  overflow: visible;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1280px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 834px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 414px) {
  .root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (max-width: 414px) {
  .root > * {
    grid-column: 4;
  }
}
.menuStack {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: 0;
  z-index: 5;
  right: 0;
  justify-self: flex-start;
  padding: 8px 20px 8px 8px;
}
@media (max-width: 414px) {
  .menuStack {
    padding-right: 12px;
  }
}
.menu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1280px) {
  .menu:global(.__wab_instance) {
    left: auto;
    top: auto;
    z-index: 1;
    position: relative;
    flex-shrink: 0;
  }
}
@media (max-width: 834px) {
  .menu:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .menu:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.buildSystemsHeadline:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
}
.freeBox__prJz {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 40vh;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 1280px) {
  .freeBox__prJz {
    display: none;
  }
}
@media (max-width: 414px) {
  .freeBox__prJz {
    display: flex;
  }
}
.freeBox__ukwOh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  margin-bottom: 0px;
  justify-self: center;
  flex-grow: 1;
  z-index: 2;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px var(--token-YtzInMrp4Jnr);
}
@media (max-width: 1280px) {
  .freeBox__ukwOh {
    padding-right: var(--token-k09N1fLEnC2x);
    padding-left: var(--token-k09N1fLEnC2x);
  }
}
@media (max-width: 834px) {
  .freeBox__ukwOh {
    padding-left: var(--token-sUobWbULSUIR);
    padding-right: var(--token-YhKPeaesHoX-);
    height: 100vh;
  }
}
@media (max-width: 414px) {
  .freeBox__ukwOh {
    padding-left: var(--token-wgzOJ10dbFQE);
    padding-right: var(--token-wgzOJ10dbFQE);
    height: 20vh;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
    flex-shrink: 0;
  }
}
.text__ftIp {
  color: var(--token-vUca2e6FfBpw);
  width: auto;
  text-align: left;
  font-size: var(--token-eJxueeNqW9_x);
  font-family: var(--token-3FyE6QDUCzGr);
  letter-spacing: -0.26px;
  line-height: var(--token-sfDvOdojrBHD);
  align-self: center;
  padding: 0px;
}
@media (max-width: 1280px) {
  .text__ftIp {
    font-size: var(--token-xdQfkXcz-6Zp);
    line-height: var(--token-vuE1z_mSdX9W);
    letter-spacing: -0.2px;
  }
}
@media (max-width: 414px) {
  .text__ftIp {
    font-size: var(--token-keFmd67w72EX);
    line-height: var(--token-j2oJG3zXCAKY);
    letter-spacing: -0.27px;
    padding: 0px;
  }
}
.text__h9C9T {
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--token-3FyE6QDUCzGr);
  font-size: var(--token-TRl_0hDv_QnB);
  color: var(--token-vUca2e6FfBpw);
  line-height: var(--token-GSf2AUMIWXzB);
  letter-spacing: -0.45px;
  left: 0px;
  top: 0px;
  z-index: 1;
  display: none;
  padding: 5px;
}
@media (max-width: 414px) {
  .text__h9C9T {
    font-size: var(--token-ptsgVNpexFoE);
    letter-spacing: -0.27px;
    line-height: var(--token-L_rjQrEnIHqE);
    padding: 12px 0px 0px;
  }
}
.freeBox__lCeHk {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 20vh;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 414px) {
  .freeBox__lCeHk {
    display: flex;
  }
}
.freeBox__hcFk7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 40vh;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px var(--token-YtzInMrp4Jnr);
}
@media (max-width: 1280px) {
  .freeBox__hcFk7 {
    padding: 0px var(--token-k09N1fLEnC2x);
  }
}
@media (max-width: 834px) {
  .freeBox__hcFk7 {
    padding-left: var(--token-sUobWbULSUIR);
    padding-right: var(--token-YhKPeaesHoX-);
    height: 40vh;
  }
}
@media (max-width: 414px) {
  .freeBox__hcFk7 {
    padding-left: var(--token-wgzOJ10dbFQE);
    padding-right: var(--token-wgzOJ10dbFQE);
    height: 40vh;
    flex-shrink: 0;
  }
}
.text__wtEti {
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--token-3FyE6QDUCzGr);
  font-size: var(--token-TRl_0hDv_QnB);
  padding-left: 0px;
  color: var(--token-vUca2e6FfBpw);
  line-height: var(--token-GSf2AUMIWXzB);
  letter-spacing: -0.45px;
  left: 0px;
  top: 0px;
  z-index: 1;
  padding-top: 5px;
}
@media (max-width: 1280px) {
  .text__wtEti {
    font-size: var(--token-m9--SPajSMqC);
    line-height: var(--token-_Whttn75PRbg);
    letter-spacing: -0.31px;
    padding-top: 11px;
  }
}
@media (max-width: 414px) {
  .text__wtEti {
    font-size: var(--token-ptsgVNpexFoE);
    letter-spacing: -0.27px;
    line-height: var(--token-L_rjQrEnIHqE);
    padding-top: 36px;
  }
}
.freeBox___5YS1 {
  background: none;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: flex-start;
  flex-shrink: 1;
  z-index: 3;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 8px var(--token-LJQESAE-yM3Y) 0px;
  margin: 0px;
}
@media (max-width: 1280px) {
  .freeBox___5YS1 {
    padding-left: var(--token-bffa1UL0qowK);
    padding-right: var(--token-bffa1UL0qowK);
  }
}
@media (max-width: 834px) {
  .freeBox___5YS1 {
    padding-left: var(--token-YhKPeaesHoX-);
    padding-right: var(--token-YhKPeaesHoX-);
  }
}
@media (max-width: 414px) {
  .freeBox___5YS1 {
    height: auto;
    padding-left: var(--token-wgzOJ10dbFQE);
    padding-right: var(--token-wgzOJ10dbFQE);
    align-items: center;
    justify-content: flex-start;
  }
}
.personList {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.personList > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  --plsmc-rc-col-gap: 8px;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.personList > :global(.__wab_flex-container) > *,
.personList > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.personList > :global(.__wab_flex-container) > picture > img,
.personList
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 8px;
}
.personList {
  --plsmc-rc-col-gap: 0px;
}
.personList > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.personList > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 834px) {
  .personList {
    flex-direction: row;
  }
}
@media (max-width: 834px) {
  .personList > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (max-width: 834px) {
  .personList > :global(.__wab_flex-container) > *,
  .personList > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .personList > :global(.__wab_flex-container) > picture > img,
  .personList
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
@media (max-width: 834px) {
  .personList > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
@media (max-width: 414px) {
  .personList {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .personList > :global(.__wab_flex-container) {
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    --plsmc-rc-col-gap: 0px;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (max-width: 414px) {
  .personList > :global(.__wab_flex-container) > *,
  .personList > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .personList > :global(.__wab_flex-container) > picture > img,
  .personList
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
@media (max-width: 414px) {
  .personList > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.martin {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.personBox__amBdU:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 834px) {
  .personBox__amBdU:global(.__wab_instance) {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.julia {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.personBox__mIEkV:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 834px) {
  .personBox__mIEkV:global(.__wab_instance) {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.daniel {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.personBox__pNeov:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.danielL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.personBox__vo6Pn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.vinzenz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.personBox__arid9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.andreas {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.personBox__kGyYz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.versteckterHeader {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 40vh;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  padding: 0px var(--token-YtzInMrp4Jnr);
}
@media (max-width: 1280px) {
  .versteckterHeader {
    padding: 0px var(--token-k09N1fLEnC2x);
  }
}
@media (max-width: 834px) {
  .versteckterHeader {
    padding-left: var(--token-sUobWbULSUIR);
    padding-right: var(--token-YhKPeaesHoX-);
  }
}
@media (max-width: 414px) {
  .versteckterHeader {
    padding-left: var(--token-wgzOJ10dbFQE);
    padding-right: var(--token-wgzOJ10dbFQE);
    display: none;
  }
}
.text__xPvOl {
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--token-3FyE6QDUCzGr);
  font-size: var(--token-TRl_0hDv_QnB);
  padding-left: 0px;
  color: var(--token-vUca2e6FfBpw);
  line-height: var(--token-GSf2AUMIWXzB);
  letter-spacing: -0.45px;
  left: 0px;
  top: 0px;
  z-index: 1;
  padding-top: 5px;
}
@media (max-width: 1280px) {
  .text__xPvOl {
    font-size: var(--token-m9--SPajSMqC);
    line-height: var(--token-_Whttn75PRbg);
    letter-spacing: -0.31px;
    padding-top: 11px;
  }
}
@media (max-width: 414px) {
  .text__xPvOl {
    font-size: var(--token-ptsgVNpexFoE);
    letter-spacing: -0.27px;
    line-height: var(--token-L_rjQrEnIHqE);
    padding-top: 12px;
  }
}
.freeBox__eb1H1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 10vh;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
@media (max-width: 1280px) {
  .freeBox__eb1H1 {
    padding: 0px;
  }
}
.imageFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  z-index: 2;
}
@media (max-width: 414px) {
  .imageFooter:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.hiderHeadlines:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
}
@media (max-width: 414px) {
  .hiderHeadlines:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
