.root {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  justify-self: flex-start;
  background: var(--token-jLHcCATMR-VR);
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 0px;
}
@media (max-width: 414px) {
  .root {
    height: auto;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.imgprojekte_trial {
  width: 100%;
  min-width: 0;
}
.imgprojekte_urbanScaleTimberNew {
  width: 100%;
  min-width: 0;
}
.imgprojekte_punkthaus {
  width: 100%;
  min-width: 0;
}
.imgprojekte_aschheim {
  width: 100%;
  min-width: 0;
}
.freeBox__yrxl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px 0px 0px;
}
@media (max-width: 414px) {
  .freeBox__yrxl {
    padding-top: 30px;
  }
}
.text__w9DFy {
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--token-3FyE6QDUCzGr);
  font-size: var(--token-eCHgrwP2Mu1p);
  padding-left: 0px;
  color: var(--token-vUca2e6FfBpw);
  line-height: var(--token-l91PpjlsVWX-);
  letter-spacing: -0.32px;
}
@media (max-width: 1280px) {
  .text__w9DFy {
    letter-spacing: -0.24px;
    font-size: var(--token-mKjf6ZgA0GQf);
    line-height: var(--token-EIkab9hq3GxI);
  }
}
@media (max-width: 414px) {
  .text__w9DFy {
    font-size: var(--token-YYOdHpc7kycM);
    letter-spacing: -0.18px;
    line-height: var(--token-xzLO18d4hZ7F);
  }
}
.text__fiDyo {
  color: var(--token-vUca2e6FfBpw);
  text-align: left;
  font-size: var(--token-UXrMZGYo_jIs);
  font-family: var(--token-3FyE6QDUCzGr);
  line-height: var(--token-YG4sEWZgbDmF);
  letter-spacing: -0.18px;
  width: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0px;
}
@media (max-width: 1280px) {
  .text__fiDyo {
    font-size: var(--token-hAHjmPLXd0ug);
    letter-spacing: -0.14px;
    line-height: var(--token-9PMygZXr44eG);
    margin-top: 0px;
  }
}
@media (max-width: 414px) {
  .text__fiDyo {
    font-size: var(--token--1dkX8Ke2jDD);
    letter-spacing: -0.13px;
    line-height: var(--token-7nhKDx-xoTlr);
  }
}
.freeBox__gQks {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBoxshrinked__gQksMGiBi {
  align-items: center;
  justify-content: flex-start;
}
.smallButton___1AxhP:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
@media (max-width: 1280px) {
  .smallButton___1AxhP:global(.__wab_instance) {
    width: auto;
  }
}
@media (max-width: 414px) {
  .smallButton___1AxhP:global(.__wab_instance) {
    width: auto;
  }
}
.text__obG9 {
  max-width: 111px;
  width: 100%;
  min-width: 0;
}
.freeBox__hh3Uv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jLHcCATMR-VR);
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 1280px) {
  .freeBox__hh3Uv {
    top: auto;
    position: relative;
    left: auto;
  }
}
@media (max-width: 834px) {
  .freeBox__hh3Uv {
    top: auto;
    position: relative;
    left: auto;
  }
}
@media (max-width: 414px) {
  .freeBox__hh3Uv {
    top: auto;
    position: relative;
    left: auto;
  }
}
.freeBoxshrinked__hh3UvMGiBi {
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  height: auto;
  width: auto;
  align-items: flex-start;
  justify-content: flex-start;
  display: none;
}
.text__bqcSa {
  color: var(--token-vUca2e6FfBpw);
  text-align: left;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-size: var(--token-UXrMZGYo_jIs);
  font-family: var(--token-3FyE6QDUCzGr);
  line-height: var(--token-YG4sEWZgbDmF);
  letter-spacing: -0.18px;
  width: auto;
  margin: 0px;
}
@media (max-width: 1280px) {
  .text__bqcSa {
    font-size: var(--token-hAHjmPLXd0ug);
    letter-spacing: -0.14px;
    line-height: var(--token-9PMygZXr44eG);
    margin-top: 0px;
  }
}
@media (max-width: 414px) {
  .text__bqcSa {
    font-size: var(--token--1dkX8Ke2jDD);
    letter-spacing: -0.13px;
    line-height: var(--token-7nhKDx-xoTlr);
    position: relative;
    left: auto;
    top: auto;
  }
}
.textprojekte_aschheim__bqcSaqknxB {
  padding-top: 0px;
}
.linkAufProjektseite {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 0px;
}
.linkAufProjektseiteshrinked {
  width: 220px;
  align-items: flex-start;
  justify-content: flex-start;
  display: none;
}
.linkAufProjektseiteprojekte_schumacherQuartierOld {
  display: none;
}
.smallButton__gFaLe:global(.__wab_instance) {
  max-width: 100%;
  width: 124px;
}
@media (max-width: 1280px) {
  .smallButton__gFaLe:global(.__wab_instance) {
    width: auto;
  }
}
@media (max-width: 414px) {
  .smallButton__gFaLe:global(.__wab_instance) {
    width: auto;
  }
}
.smallButtonshrinked__gFaLeMGiBi:global(.__wab_instance) {
  width: auto;
}
.text__sLncw {
  max-width: 111px;
  width: 100%;
  min-width: 0;
}
