.root {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  cursor: pointer;
  padding: 0px;
}
.freeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  max-width: 100%;
  background: var(--token-vUca2e6FfBpw);
  cursor: pointer;
  height: auto;
  border-radius: 4px;
  padding: 5px 15px;
}
.link {
  position: relative;
  display: flex;
  flex-direction: row;
}
.slotTargetChildren {
  font-family: var(--token-3FyE6QDUCzGr);
  color: var(--token-jLHcCATMR-VR);
  user-select: none;
  letter-spacing: -0.2px;
}
@media (max-width: 1280px) {
  .slotTargetChildren {
    letter-spacing: -0.14px;
    font-size: 14px;
    line-height: 21px;
  }
}
@media (max-width: 414px) {
  .slotTargetChildren {
    font-size: 13px;
    letter-spacing: -0.13px;
    line-height: 16px;
  }
}
