@import url("https://fonts.googleapis.com/css2?family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-jLHcCATMR-VR: #222222;
  --plasmic-token-main: var(--token-jLHcCATMR-VR);
  --token-25IIvxdWr6Hm: #3c3c3c;
  --plasmic-token-second: var(--token-25IIvxdWr6Hm);
  --token-NYZkn6P56a6P: #56bd77;
  --plasmic-token-green: var(--token-NYZkn6P56a6P);
  --token-vUca2e6FfBpw: #d9d9d9;
  --plasmic-token-white: var(--token-vUca2e6FfBpw);
  --token-ShHCGlQJVArO: #bd565600;
  --plasmic-token-transparent: var(--token-ShHCGlQJVArO);
  --token-3FyE6QDUCzGr: ABC Diatype;
  --plasmic-token-bs-font: var(--token-3FyE6QDUCzGr);
  --token-eJxueeNqW9_x: 26px;
  --plasmic-token-normal: var(--token-eJxueeNqW9_x);
  --token-TRl_0hDv_QnB: 41px;
  --plasmic-token-subheader: var(--token-TRl_0hDv_QnB);
  --token-OoC28XzBXT8F: 14px;
  --plasmic-token-small: var(--token-OoC28XzBXT8F);
  --token-eCHgrwP2Mu1p: 1.7vw;
  --plasmic-token-paragraph-header: var(--token-eCHgrwP2Mu1p);
  --token-UXrMZGYo_jIs: 18px;
  --plasmic-token-paragraph-medium: var(--token-UXrMZGYo_jIs);
  --token-Q52gRkhDMz3T: 26px;
  --plasmic-token-paragraph-large: var(--token-Q52gRkhDMz3T);
  --token-GSf2AUMIWXzB: 42px;
  --plasmic-token-subheader-h: var(--token-GSf2AUMIWXzB);
  --token-sfDvOdojrBHD: 28.6px;
  --plasmic-token-normal-h: var(--token-sfDvOdojrBHD);
  --token-r6uJNdVMWFOy: #fafafa;
  --plasmic-token-build-white: var(--token-r6uJNdVMWFOy);
  --token-weq9FU7aoGK2: 24.2px;
  --plasmic-token-small-h: var(--token-weq9FU7aoGK2);
  --token-8w7zyMMBQva0: 21px;
  --plasmic-token-paragraph-large-h: var(--token-8w7zyMMBQva0);
  --token-YG4sEWZgbDmF: 19.8px;
  --plasmic-token-paragraph-medium-h: var(--token-YG4sEWZgbDmF);
  --token-l91PpjlsVWX-: 36px;
  --plasmic-token-paragraph-header-h: var(--token-l91PpjlsVWX-);
  --token-LJQESAE-yM3Y: 158px;
  --plasmic-token-1-cell: var(--token-LJQESAE-yM3Y);
  --token-YtzInMrp4Jnr: 315px;
  --plasmic-token-2-cells: var(--token-YtzInMrp4Jnr);
  --token-KQ4aq0NnQQZx: #ebebeb;
  --plasmic-token-second-white: var(--token-KQ4aq0NnQQZx);
  --token-wgzOJ10dbFQE: 10px;
  --plasmic-token-mobile-site: var(--token-wgzOJ10dbFQE);
  --token-ptsgVNpexFoE: 27px;
  --plasmic-token-subheader-h-mob: var(--token-ptsgVNpexFoE);
  --token-keFmd67w72EX: 15px;
  --plasmic-token-normal-mobile: var(--token-keFmd67w72EX);
  --token-ykDkLQM7bJMo: 10px;
  --plasmic-token-small-m: var(--token-ykDkLQM7bJMo);
  --token-YYOdHpc7kycM: 18px;
  --plasmic-token-paragraph-header-mobile: var(--token-YYOdHpc7kycM);
  --token--1dkX8Ke2jDD: 16px;
  --plasmic-token-paragraph-medium-mobile: var(--token--1dkX8Ke2jDD);
  --token-L_rjQrEnIHqE: 1.5;
  --plasmic-token-subheader-h-m: var(--token-L_rjQrEnIHqE);
  --token-j2oJG3zXCAKY: 16.5px;
  --plasmic-token-normal-m: var(--token-j2oJG3zXCAKY);
  --token-7nhKDx-xoTlr: 1.5;
  --plasmic-token-paragraph-medium-h-m: var(--token-7nhKDx-xoTlr);
  --token-xzLO18d4hZ7F: 1.5;
  --plasmic-token-paragraph-header-h-m: var(--token-xzLO18d4hZ7F);
  --token-_Whttn75PRbg: 1.5;
  --plasmic-token-subheader-sd-h: var(--token-_Whttn75PRbg);
  --token-m9--SPajSMqC: 16px;
  --plasmic-token-subheader-sd: var(--token-m9--SPajSMqC);
  --token-xdQfkXcz-6Zp: 16px;
  --plasmic-token-normal-sd: var(--token-xdQfkXcz-6Zp);
  --token-vuE1z_mSdX9W: 1.5;
  --plasmic-token-normal-sd-h: var(--token-vuE1z_mSdX9W);
  --token-bffa1UL0qowK: 1px;
  --plasmic-token-1-cell-sd: var(--token-bffa1UL0qowK);
  --token-k09N1fLEnC2x: 1px;
  --plasmic-token-2-cells-sd: var(--token-k09N1fLEnC2x);
  --token-vcoRGjBV3rVZ: 16px;
  --plasmic-token-subheader-i-pad: var(--token-vcoRGjBV3rVZ);
  --token-iSEPERO7tR9P: 1.5;
  --plasmic-token-subheader-i-pad-h: var(--token-iSEPERO7tR9P);
  --token-sUobWbULSUIR: 2ch;
  --plasmic-token-3-cells-i-pad: var(--token-sUobWbULSUIR);
  --token-YhKPeaesHoX-: 1ch;
  --plasmic-token-1-cell-i-pad: var(--token-YhKPeaesHoX-);
  --token-d85kxK1eS2zu: 16px;
  --plasmic-token-normal-i-pad: var(--token-d85kxK1eS2zu);
  --token-9k-rhrjA14Zc: 1.5;
  --plasmic-token-normal-i-pad-h: var(--token-9k-rhrjA14Zc);
  --token-mKjf6ZgA0GQf: 16px;
  --plasmic-token-paragraph-header-sd: var(--token-mKjf6ZgA0GQf);
  --token-EIkab9hq3GxI: 1.5;
  --plasmic-token-paragraph-header-sd-2: var(--token-EIkab9hq3GxI);
  --token-hAHjmPLXd0ug: 16px;
  --plasmic-token-paragraph-medium-sd: var(--token-hAHjmPLXd0ug);
  --token-9PMygZXr44eG: 1.5;
  --plasmic-token-paragraph-medium-sd-2: var(--token-9PMygZXr44eG);
  --token-BFhASFIijDLO: 1px;
  --plasmic-token-2-cells-i-pad: var(--token-BFhASFIijDLO);
  --token-RG_D43lSV3mD: 20px;
  --plasmic-token-partners-h: var(--token-RG_D43lSV3mD);
  --token-Pev3M7KcDhHC: 8px;
  --plasmic-token-partners-v: var(--token-Pev3M7KcDhHC);
  --token-z3eXnPHJQ17a: 0.8;
  --plasmic-token-partner: var(--token-z3eXnPHJQ17a);
  --token-goApUzo6R_zE: var(--token-z3eXnPHJQ17a);
  --plasmic-token-partner-2: var(--token-goApUzo6R_zE);
  --token-McOhU8xh48MH: 3px;
  --plasmic-token-partner-mobile: var(--token-McOhU8xh48MH);
}

@media (max-width: 1280px) {
  .plasmic_tokens {
    --token-ShHCGlQJVArO: #22222200;
    --plasmic-token-transparent: var(--token-ShHCGlQJVArO);
    --token-LJQESAE-yM3Y: 8.3vw;
    --plasmic-token-1-cell: var(--token-LJQESAE-yM3Y);
    --token-YtzInMrp4Jnr: 16.7vw;
    --plasmic-token-2-cells: var(--token-YtzInMrp4Jnr);
    --token-_Whttn75PRbg: 32px;
    --plasmic-token-subheader-sd-h: var(--token-_Whttn75PRbg);
    --token-m9--SPajSMqC: 29px;
    --plasmic-token-subheader-sd: var(--token-m9--SPajSMqC);
    --token-xdQfkXcz-6Zp: 20px;
    --plasmic-token-normal-sd: var(--token-xdQfkXcz-6Zp);
    --token-vuE1z_mSdX9W: 22px;
    --plasmic-token-normal-sd-h: var(--token-vuE1z_mSdX9W);
    --token-bffa1UL0qowK: 110px;
    --plasmic-token-1-cell-sd: var(--token-bffa1UL0qowK);
    --token-k09N1fLEnC2x: 224px;
    --plasmic-token-2-cells-sd: var(--token-k09N1fLEnC2x);
    --token-mKjf6ZgA0GQf: 24px;
    --plasmic-token-paragraph-header-sd: var(--token-mKjf6ZgA0GQf);
    --token-EIkab9hq3GxI: 36px;
    --plasmic-token-paragraph-header-sd-2: var(--token-EIkab9hq3GxI);
    --token-hAHjmPLXd0ug: 14px;
    --plasmic-token-paragraph-medium-sd: var(--token-hAHjmPLXd0ug);
    --token-9PMygZXr44eG: 15.4px;
    --plasmic-token-paragraph-medium-sd-2: var(--token-9PMygZXr44eG);
  }
}

@media (max-width: 834px) {
  .plasmic_tokens {
    --token-ShHCGlQJVArO: #22222200;
    --plasmic-token-transparent: var(--token-ShHCGlQJVArO);
    --token-vcoRGjBV3rVZ: 25px;
    --plasmic-token-subheader-i-pad: var(--token-vcoRGjBV3rVZ);
    --token-iSEPERO7tR9P: 27px;
    --plasmic-token-subheader-i-pad-h: var(--token-iSEPERO7tR9P);
    --token-sUobWbULSUIR: 200px;
    --plasmic-token-3-cells-i-pad: var(--token-sUobWbULSUIR);
    --token-YhKPeaesHoX-: 68px;
    --plasmic-token-1-cell-i-pad: var(--token-YhKPeaesHoX-);
    --token-d85kxK1eS2zu: 16px;
    --plasmic-token-normal-i-pad: var(--token-d85kxK1eS2zu);
    --token-9k-rhrjA14Zc: 16px;
    --plasmic-token-normal-i-pad-h: var(--token-9k-rhrjA14Zc);
    --token-BFhASFIijDLO: 140px;
    --plasmic-token-2-cells-i-pad: var(--token-BFhASFIijDLO);
  }
}

@media (max-width: 414px) {
  .plasmic_tokens {
    --token-wgzOJ10dbFQE: 10px;
    --plasmic-token-mobile-site: var(--token-wgzOJ10dbFQE);
    --token-ptsgVNpexFoE: 20px;
    --plasmic-token-subheader-h-mob: var(--token-ptsgVNpexFoE);
    --token--1dkX8Ke2jDD: 13px;
    --plasmic-token-paragraph-medium-mobile: var(--token--1dkX8Ke2jDD);
    --token-L_rjQrEnIHqE: 22px;
    --plasmic-token-subheader-h-m: var(--token-L_rjQrEnIHqE);
    --token-7nhKDx-xoTlr: 14.3px;
    --plasmic-token-paragraph-medium-h-m: var(--token-7nhKDx-xoTlr);
    --token-xzLO18d4hZ7F: 18.7px;
    --plasmic-token-paragraph-header-h-m: var(--token-xzLO18d4hZ7F);
  }
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-p87RUV1yjQ0w_font-family: "ABC Diatype";
  --mixin-p87RUV1yjQ0w_font-size: 20px;
  --mixin-p87RUV1yjQ0w_font-weight: 400;
  --mixin-p87RUV1yjQ0w_color: var(--token-vUca2e6FfBpw);
  --mixin-p87RUV1yjQ0w_text-align: left;
  --mixin-p87RUV1yjQ0w_text-transform: none;
  --mixin-p87RUV1yjQ0w_line-height: 21px;
  --mixin-p87RUV1yjQ0w_letter-spacing: -0.26px;
  --mixin-p87RUV1yjQ0w_white-space: pre-wrap;
  --mixin-p87RUV1yjQ0w_user-select: text;
  --mixin-p87RUV1yjQ0w_text-decoration-line: none;
  --mixin-p87RUV1yjQ0w_font-style: normal;
  --mixin-mTeEsePQxht0_color: var(--token-vUca2e6FfBpw);
  --mixin-mTeEsePQxht0_font-weight: 400;
  --mixin-mTeEsePQxht0_font-size: 20px;
  --mixin-mTeEsePQxht0_line-height: 21;
  --mixin-mTeEsePQxht0_letter-spacing: -0.26px;
  --mixin-mTeEsePQxht0_font-family: "ABC Diatype Mono";
  --mixin-mTeEsePQxht0_white-space: pre-wrap;
  --mixin-V9M-FKzBPLRZ_color: #000000;
  --mixin-V9M-FKzBPLRZ_font-size: 48px;
  --mixin-V9M-FKzBPLRZ_font-weight: 700;
  --mixin-V9M-FKzBPLRZ_letter-spacing: -0.5px;
  --mixin-V9M-FKzBPLRZ_line-height: 1.1;
  --mixin-V9M-FKzBPLRZ_white-space: pre-wrap;
  --mixin-E03JZjN2vlfg_color: #0070f3;
  --mixin-E03JZjN2vlfg_white-space: pre-wrap;
  --mixin-xdOWcmFv1Sz3_color: #000000;
  --mixin-xdOWcmFv1Sz3_font-size: 32px;
  --mixin-xdOWcmFv1Sz3_font-weight: 600;
  --mixin-xdOWcmFv1Sz3_line-height: 1.2;
  --mixin-xdOWcmFv1Sz3_white-space: pre-wrap;
  --mixin-2T6GCa3qO0qO_color: #000000;
  --mixin-2T6GCa3qO0qO_font-size: 24px;
  --mixin-2T6GCa3qO0qO_font-weight: 600;
  --mixin-2T6GCa3qO0qO_letter-spacing: -0.5px;
  --mixin-2T6GCa3qO0qO_line-height: 1.3;
  --mixin-2T6GCa3qO0qO_white-space: pre-wrap;
  --mixin-hv8l6d_JAlXY_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-hv8l6d_JAlXY_border-bottom-color: #dddddd;
  --mixin-hv8l6d_JAlXY_border-bottom-style: solid;
  --mixin-hv8l6d_JAlXY_border-bottom-width: 1px;
  --mixin-hv8l6d_JAlXY_border-left-color: #dddddd;
  --mixin-hv8l6d_JAlXY_border-left-style: solid;
  --mixin-hv8l6d_JAlXY_border-left-width: 1px;
  --mixin-hv8l6d_JAlXY_border-right-color: #dddddd;
  --mixin-hv8l6d_JAlXY_border-right-style: solid;
  --mixin-hv8l6d_JAlXY_border-right-width: 1px;
  --mixin-hv8l6d_JAlXY_border-top-color: #dddddd;
  --mixin-hv8l6d_JAlXY_border-top-style: solid;
  --mixin-hv8l6d_JAlXY_border-top-width: 1px;
  --mixin-hv8l6d_JAlXY_border-bottom-left-radius: 3px;
  --mixin-hv8l6d_JAlXY_border-bottom-right-radius: 3px;
  --mixin-hv8l6d_JAlXY_border-top-left-radius: 3px;
  --mixin-hv8l6d_JAlXY_border-top-right-radius: 3px;
  --mixin-hv8l6d_JAlXY_font-family: "Inconsolata";
  --mixin-hv8l6d_JAlXY_padding-bottom: 1px;
  --mixin-hv8l6d_JAlXY_padding-left: 4px;
  --mixin-hv8l6d_JAlXY_padding-right: 4px;
  --mixin-hv8l6d_JAlXY_padding-top: 1px;
  --mixin-hv8l6d_JAlXY_white-space: pre-wrap;
  --mixin-ZDATrokrbMbO_border-left-color: #dddddd;
  --mixin-ZDATrokrbMbO_border-left-style: solid;
  --mixin-ZDATrokrbMbO_border-left-width: 3px;
  --mixin-ZDATrokrbMbO_color: #888888;
  --mixin-ZDATrokrbMbO_padding-left: 10px;
  --mixin-ZDATrokrbMbO_white-space: pre-wrap;
  --mixin-29Vb_9Uz-SLq_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-29Vb_9Uz-SLq_border-bottom-color: #dddddd;
  --mixin-29Vb_9Uz-SLq_border-bottom-style: solid;
  --mixin-29Vb_9Uz-SLq_border-bottom-width: 1px;
  --mixin-29Vb_9Uz-SLq_border-left-color: #dddddd;
  --mixin-29Vb_9Uz-SLq_border-left-style: solid;
  --mixin-29Vb_9Uz-SLq_border-left-width: 1px;
  --mixin-29Vb_9Uz-SLq_border-right-color: #dddddd;
  --mixin-29Vb_9Uz-SLq_border-right-style: solid;
  --mixin-29Vb_9Uz-SLq_border-right-width: 1px;
  --mixin-29Vb_9Uz-SLq_border-top-color: #dddddd;
  --mixin-29Vb_9Uz-SLq_border-top-style: solid;
  --mixin-29Vb_9Uz-SLq_border-top-width: 1px;
  --mixin-29Vb_9Uz-SLq_border-bottom-left-radius: 3px;
  --mixin-29Vb_9Uz-SLq_border-bottom-right-radius: 3px;
  --mixin-29Vb_9Uz-SLq_border-top-left-radius: 3px;
  --mixin-29Vb_9Uz-SLq_border-top-right-radius: 3px;
  --mixin-29Vb_9Uz-SLq_font-family: "Inconsolata";
  --mixin-29Vb_9Uz-SLq_padding-bottom: 3px;
  --mixin-29Vb_9Uz-SLq_padding-left: 6px;
  --mixin-29Vb_9Uz-SLq_padding-right: 6px;
  --mixin-29Vb_9Uz-SLq_padding-top: 3px;
  --mixin-29Vb_9Uz-SLq_white-space: pre-wrap;
  --mixin-L1YDKTyMxBO1_display: flex;
  --mixin-L1YDKTyMxBO1_flex-direction: column;
  --mixin-L1YDKTyMxBO1_align-items: stretch;
  --mixin-L1YDKTyMxBO1_justify-content: flex-start;
  --mixin-L1YDKTyMxBO1_list-style-position: outside;
  --mixin-L1YDKTyMxBO1_padding-left: 40px;
  --mixin-L1YDKTyMxBO1_position: relative;
  --mixin-L1YDKTyMxBO1_list-style-type: disc;
  --mixin-L1YDKTyMxBO1_white-space: pre-wrap;
  --mixin-FTHnnixZ8OET_display: flex;
  --mixin-FTHnnixZ8OET_flex-direction: column;
  --mixin-FTHnnixZ8OET_align-items: stretch;
  --mixin-FTHnnixZ8OET_justify-content: flex-start;
  --mixin-FTHnnixZ8OET_list-style-position: outside;
  --mixin-FTHnnixZ8OET_padding-left: 40px;
  --mixin-FTHnnixZ8OET_position: relative;
  --mixin-FTHnnixZ8OET_list-style-type: decimal;
  --mixin-FTHnnixZ8OET_white-space: pre-wrap;
  --mixin-uBYtRkdHVUVZ_color: #000000;
  --mixin-uBYtRkdHVUVZ_font-size: 20px;
  --mixin-uBYtRkdHVUVZ_font-weight: 600;
  --mixin-uBYtRkdHVUVZ_letter-spacing: -0.3px;
  --mixin-uBYtRkdHVUVZ_line-height: 1.5;
  --mixin-uBYtRkdHVUVZ_white-space: pre-wrap;
  --mixin-nQAzjwTgNwUk_color: #000000;
  --mixin-nQAzjwTgNwUk_font-size: 16px;
  --mixin-nQAzjwTgNwUk_font-weight: 600;
  --mixin-nQAzjwTgNwUk_line-height: 1.5;
  --mixin-nQAzjwTgNwUk_white-space: pre-wrap;
  --mixin-XXSHh-pe_gw6_color: #3291ff;
  --mixin-XXSHh-pe_gw6_white-space: pre-wrap;
  --mixin-Y0MFYHtt8djD_white-space: pre-wrap;
  --mixin-0Ijft55SKT-s_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-O-4oNKT_v4Wf_white-space: pre-wrap;
  --plasmic-mixin-text_white-space: var(--mixin-O-4oNKT_v4Wf_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-p87RUV1yjQ0w_font-family);
  font-size: var(--mixin-p87RUV1yjQ0w_font-size);
  font-weight: var(--mixin-p87RUV1yjQ0w_font-weight);
  font-style: var(--mixin-p87RUV1yjQ0w_font-style);
  color: var(--mixin-p87RUV1yjQ0w_color);
  text-align: var(--mixin-p87RUV1yjQ0w_text-align);
  text-transform: var(--mixin-p87RUV1yjQ0w_text-transform);
  line-height: var(--mixin-p87RUV1yjQ0w_line-height);
  letter-spacing: var(--mixin-p87RUV1yjQ0w_letter-spacing);
  white-space: var(--mixin-p87RUV1yjQ0w_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-mTeEsePQxht0_color);
  font-weight: var(--mixin-mTeEsePQxht0_font-weight);
  font-size: var(--mixin-mTeEsePQxht0_font-size);
  line-height: var(--mixin-mTeEsePQxht0_line-height);
  letter-spacing: var(--mixin-mTeEsePQxht0_letter-spacing);
  font-family: var(--mixin-mTeEsePQxht0_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-V9M-FKzBPLRZ_color);
  font-size: var(--mixin-V9M-FKzBPLRZ_font-size);
  font-weight: var(--mixin-V9M-FKzBPLRZ_font-weight);
  letter-spacing: var(--mixin-V9M-FKzBPLRZ_letter-spacing);
  line-height: var(--mixin-V9M-FKzBPLRZ_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-E03JZjN2vlfg_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-xdOWcmFv1Sz3_color);
  font-size: var(--mixin-xdOWcmFv1Sz3_font-size);
  font-weight: var(--mixin-xdOWcmFv1Sz3_font-weight);
  line-height: var(--mixin-xdOWcmFv1Sz3_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-2T6GCa3qO0qO_color);
  font-size: var(--mixin-2T6GCa3qO0qO_font-size);
  font-weight: var(--mixin-2T6GCa3qO0qO_font-weight);
  letter-spacing: var(--mixin-2T6GCa3qO0qO_letter-spacing);
  line-height: var(--mixin-2T6GCa3qO0qO_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-hv8l6d_JAlXY_font-family);
  border-radius: var(--mixin-hv8l6d_JAlXY_border-top-left-radius)
    var(--mixin-hv8l6d_JAlXY_border-top-right-radius)
    var(--mixin-hv8l6d_JAlXY_border-bottom-right-radius)
    var(--mixin-hv8l6d_JAlXY_border-bottom-left-radius);
  padding: var(--mixin-hv8l6d_JAlXY_padding-top)
    var(--mixin-hv8l6d_JAlXY_padding-right)
    var(--mixin-hv8l6d_JAlXY_padding-bottom)
    var(--mixin-hv8l6d_JAlXY_padding-left);
  border-top: var(--mixin-hv8l6d_JAlXY_border-top-width)
    var(--mixin-hv8l6d_JAlXY_border-top-style)
    var(--mixin-hv8l6d_JAlXY_border-top-color);
  border-right: var(--mixin-hv8l6d_JAlXY_border-right-width)
    var(--mixin-hv8l6d_JAlXY_border-right-style)
    var(--mixin-hv8l6d_JAlXY_border-right-color);
  border-bottom: var(--mixin-hv8l6d_JAlXY_border-bottom-width)
    var(--mixin-hv8l6d_JAlXY_border-bottom-style)
    var(--mixin-hv8l6d_JAlXY_border-bottom-color);
  border-left: var(--mixin-hv8l6d_JAlXY_border-left-width)
    var(--mixin-hv8l6d_JAlXY_border-left-style)
    var(--mixin-hv8l6d_JAlXY_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-ZDATrokrbMbO_color);
  padding-left: var(--mixin-ZDATrokrbMbO_padding-left);
  border-left: var(--mixin-ZDATrokrbMbO_border-left-width)
    var(--mixin-ZDATrokrbMbO_border-left-style)
    var(--mixin-ZDATrokrbMbO_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-29Vb_9Uz-SLq_font-family);
  border-radius: var(--mixin-29Vb_9Uz-SLq_border-top-left-radius)
    var(--mixin-29Vb_9Uz-SLq_border-top-right-radius)
    var(--mixin-29Vb_9Uz-SLq_border-bottom-right-radius)
    var(--mixin-29Vb_9Uz-SLq_border-bottom-left-radius);
  padding: var(--mixin-29Vb_9Uz-SLq_padding-top)
    var(--mixin-29Vb_9Uz-SLq_padding-right)
    var(--mixin-29Vb_9Uz-SLq_padding-bottom)
    var(--mixin-29Vb_9Uz-SLq_padding-left);
  border-top: var(--mixin-29Vb_9Uz-SLq_border-top-width)
    var(--mixin-29Vb_9Uz-SLq_border-top-style)
    var(--mixin-29Vb_9Uz-SLq_border-top-color);
  border-right: var(--mixin-29Vb_9Uz-SLq_border-right-width)
    var(--mixin-29Vb_9Uz-SLq_border-right-style)
    var(--mixin-29Vb_9Uz-SLq_border-right-color);
  border-bottom: var(--mixin-29Vb_9Uz-SLq_border-bottom-width)
    var(--mixin-29Vb_9Uz-SLq_border-bottom-style)
    var(--mixin-29Vb_9Uz-SLq_border-bottom-color);
  border-left: var(--mixin-29Vb_9Uz-SLq_border-left-width)
    var(--mixin-29Vb_9Uz-SLq_border-left-style)
    var(--mixin-29Vb_9Uz-SLq_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-L1YDKTyMxBO1_display);
  flex-direction: var(--mixin-L1YDKTyMxBO1_flex-direction);
  align-items: var(--mixin-L1YDKTyMxBO1_align-items);
  justify-content: var(--mixin-L1YDKTyMxBO1_justify-content);
  list-style-position: var(--mixin-L1YDKTyMxBO1_list-style-position);
  padding-left: var(--mixin-L1YDKTyMxBO1_padding-left);
  position: var(--mixin-L1YDKTyMxBO1_position);
  list-style-type: var(--mixin-L1YDKTyMxBO1_list-style-type);
  flex-column-gap: var(--mixin-L1YDKTyMxBO1_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-FTHnnixZ8OET_display);
  flex-direction: var(--mixin-FTHnnixZ8OET_flex-direction);
  align-items: var(--mixin-FTHnnixZ8OET_align-items);
  justify-content: var(--mixin-FTHnnixZ8OET_justify-content);
  list-style-position: var(--mixin-FTHnnixZ8OET_list-style-position);
  padding-left: var(--mixin-FTHnnixZ8OET_padding-left);
  position: var(--mixin-FTHnnixZ8OET_position);
  list-style-type: var(--mixin-FTHnnixZ8OET_list-style-type);
  flex-column-gap: var(--mixin-FTHnnixZ8OET_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-uBYtRkdHVUVZ_color);
  font-size: var(--mixin-uBYtRkdHVUVZ_font-size);
  font-weight: var(--mixin-uBYtRkdHVUVZ_font-weight);
  letter-spacing: var(--mixin-uBYtRkdHVUVZ_letter-spacing);
  line-height: var(--mixin-uBYtRkdHVUVZ_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-nQAzjwTgNwUk_color);
  font-size: var(--mixin-nQAzjwTgNwUk_font-size);
  font-weight: var(--mixin-nQAzjwTgNwUk_font-weight);
  line-height: var(--mixin-nQAzjwTgNwUk_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-XXSHh-pe_gw6_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
