.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  background: var(--token-25IIvxdWr6Hm);
  min-width: 0;
  border-radius: 15px;
  padding: 0px;
}
@media (max-width: 1280px) {
  .root {
    max-width: none;
  }
}
@media (max-width: 834px) {
  .root {
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .root {
    justify-self: flex-start;
  }
}
.rootshrinked {
  padding: 0px;
}
@media (max-width: 834px) {
  .rootshrinked {
    height: auto;
  }
}
.freeBox__mNiQ {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: none;
  flex-grow: 1;
  min-height: 199px;
  min-width: 0;
}
@media (max-width: 1280px) {
  .freeBox__mNiQ {
    width: 515px;
    height: auto;
    min-height: 169px;
  }
}
@media (max-width: 834px) {
  .freeBox__mNiQ {
    width: 600px;
    height: auto;
    min-height: 153px;
  }
}
@media (max-width: 414px) {
  .freeBox__mNiQ {
    width: 355px;
  }
}
@media (max-width: 1280px) {
  .freeBoxshrinked__mNiQyvp1T {
    width: 100%;
    max-width: 515px;
    min-width: 0;
  }
}
@media (max-width: 834px) {
  .freeBoxshrinked__mNiQyvp1T {
    width: 100%;
    max-width: 600px;
    height: auto;
    min-width: 0;
  }
}
.freeBox___8MU2P {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px;
}
@media (max-width: 414px) {
  .freeBox___8MU2P {
    width: auto;
    padding: 8px;
  }
}
.freeBoxpersonen_danielDieren___8MU2P1VwGv {
  width: 100%;
  min-width: 0;
}
.freeBox__stN0I {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (max-width: 1280px) {
  .freeBox__stN0I {
    z-index: 3;
  }
}
@media (max-width: 414px) {
  .freeBox__stN0I {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    padding: 0px 8px;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 135px;
}
.img > picture > img {
  object-fit: cover;
}
@media (max-width: 834px) {
  .img {
    width: 93px;
  }
}
@media (max-width: 414px) {
  .img {
    width: 93px;
  }
}
.imgpersonen_danielDieren {
  border-radius: 0px;
}
.imgpersonen_danielLocatelli {
  border-radius: 0px;
}
.imgpersonen_juliaDorn {
  border-radius: 0px;
}
.imgpersonen_vinzenzTrimborn {
  object-fit: cover;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  object-position: 50% top;
  border-radius: 0px;
}
.imgpersonen_vinzenzTrimborn > picture > img {
  object-fit: cover;
  object-position: 50% top;
}
.imgpersonen_andreasThoma {
  border-radius: 0px;
}
.freeBox__ruggD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 0px;
  padding-top: 0px;
  min-width: 0;
}
@media (max-width: 414px) {
  .freeBox__ruggD {
    padding: 0px;
  }
}
.freeBox__vgFKz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__zFh9K {
  font-family: var(--token-3FyE6QDUCzGr);
}
@media (max-width: 1280px) {
  .text__zFh9K {
    letter-spacing: -0.2px;
    line-height: 21px;
  }
}
.textpersonen_danielLocatelli__zFh9KohgfH {
  font-family: var(--token-3FyE6QDUCzGr);
  height: auto;
}
.freeBox___5CBnQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__j7FhG {
  font-family: var(--token-3FyE6QDUCzGr);
}
@media (max-width: 1280px) {
  .text__j7FhG {
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: 15.4px;
  }
}
@media (max-width: 414px) {
  .text__j7FhG {
    font-size: 14px;
    line-height: 15.4px;
  }
}
.textpersonen_danielDieren__j7FhG1VwGv {
  padding-top: 0px;
  width: 100%;
  min-width: 0;
}
.textpersonen_danielLocatelli__j7FhGohgfH {
  font-family: var(--token-3FyE6QDUCzGr);
}
.textpersonen_juliaDorn__j7FhGDiVf4 {
  height: auto;
  padding-top: 0px;
}
.freeBox__csyBd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 1;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
@media (max-width: 1280px) {
  .freeBox__csyBd {
    z-index: 20;
  }
}
.freeBoxpersonen_martinBittmann__csyBdo1Atu {
  z-index: 1;
}
.freeBoxpersonen_danielDieren__csyBd1VwGv {
  z-index: 1;
}
.freeBoxpersonen_danielLocatelli__csyBdohgfH {
  z-index: 1;
}
.freeBoxpersonen_vinzenzTrimborn__csyBdCuOz5 {
  z-index: 1;
}
.freeBoxshrinked__csyBdYvp1T {
  z-index: 3;
}
.freeBox__cs0T5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
@media (max-width: 1280px) {
  .freeBox__cs0T5 {
    z-index: 20;
  }
}
.freeBoxpersonen_juliaDorn__cs0T5DiVf4 {
  z-index: 1;
}
.smallButton:global(.__wab_instance) {
  max-width: 100%;
}
.text__k4O2E {
  padding-right: 0px;
}
.freeBox__cjsIk {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: none;
  position: relative;
  left: auto;
  top: auto;
  z-index: 2;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1280px) {
  .freeBox__cjsIk {
    top: auto;
    left: auto;
  }
}
@media (max-width: 834px) {
  .freeBox__cjsIk {
    top: auto;
    left: auto;
  }
}
@media (max-width: 414px) {
  .freeBox__cjsIk {
    left: auto;
    top: auto;
    width: auto;
  }
}
.freeBoxpersonen_martinBittmann__cjsIKo1Atu {
  left: auto;
  top: auto;
  display: flex;
}
.freeBoxpersonen_danielDieren__cjsIk1VwGv {
  left: auto;
  top: auto;
  display: flex;
}
.freeBoxpersonen_danielLocatelli__cjsIKohgfH {
  left: auto;
  top: auto;
  display: flex;
}
.freeBoxpersonen_juliaDorn__cjsIkDiVf4 {
  left: auto;
  top: auto;
  display: flex;
}
.freeBoxpersonen_vinzenzTrimborn__cjsIkCuOz5 {
  left: auto;
  top: auto;
  display: flex;
}
.freeBoxpersonen_andreasThoma__cjsIKynRd {
  left: auto;
  top: auto;
  display: flex;
}
.freeBoxshrinked__cjsIkyvp1T {
  z-index: 2;
  box-shadow: 0px 15px 16px 0px #0000008a;
  width: auto;
  left: auto;
  height: auto;
  top: auto;
  position: relative;
  display: none;
  margin: 0px;
}
.text__dAd6Q {
  font-family: var(--token-3FyE6QDUCzGr);
  padding: 0px;
}
@media (max-width: 1280px) {
  .text__dAd6Q {
    font-size: 14px;
    line-height: 15.4px;
    letter-spacing: -0.14px;
  }
}
@media (max-width: 414px) {
  .text__dAd6Q {
    max-width: 237px;
    width: 100%;
    min-width: 0;
  }
}
.textpersonen_danielDieren__dAd6Q1VwGv {
  width: 100%;
  min-width: 0;
}
