.root {
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  padding: 20px;
}
@media (max-width: 414px) {
  .root {
    padding: 20px 10px;
  }
}
.text__bmpzE {
  display: block;
  font-size: 44px;
  font-weight: 400;
  letter-spacing: -0.92px;
  line-height: 13px;
  color: var(--token-r6uJNdVMWFOy);
  width: auto;
  flex-grow: 0;
  text-align: center;
  box-shadow: none;
  filter: none;
  transform: none;
  height: auto;
  flex-shrink: 1;
  font-family: "ABC Diatype";
  user-select: none;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 0px;
}
@media (max-width: 1280px) {
  .text__bmpzE {
    font-size: 31px;
    letter-spacing: -0.62px;
  }
}
@media (max-width: 834px) {
  .text__bmpzE {
    font-size: 27px;
    letter-spacing: -0.54px;
    line-height: 11px;
  }
}
@media (max-width: 414px) {
  .text__bmpzE {
    font-size: 20px;
  }
}
.texttransparent__bmpzEVheJl {
  color: var(--token-ShHCGlQJVArO);
}
.textbig__bmpzEYfcWg {
  font-size: 204px;
}
.text__slzwK {
  display: block;
  font-size: 44px;
  font-weight: 400;
  line-height: 13px;
  color: var(--token-r6uJNdVMWFOy);
  width: auto;
  flex-grow: 0;
  text-align: center;
  box-shadow: none;
  filter: none;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  height: auto;
  flex-shrink: 1;
  font-family: "ABC Diatype Mono";
  letter-spacing: 0px;
  user-select: none;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 0px;
}
@media (max-width: 1280px) {
  .text__slzwK {
    font-size: 31px;
  }
}
@media (max-width: 834px) {
  .text__slzwK {
    font-size: 27px;
    line-height: 11px;
    letter-spacing: 0px;
  }
}
@media (max-width: 414px) {
  .text__slzwK {
    font-size: 20px;
  }
}
.texttransparent__slzwKVheJl {
  color: var(--token-ShHCGlQJVArO);
}
.textbig__slzwKYfcWg {
  font-size: 204px;
}
